// Index page where the user manages the Escape Room Games that they create

/* Keep styles for form elements */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], 
input[type="number"], 
textarea, 
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

#addChallenge, #saveGame {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#addChallenge:hover, #saveGame:hover {
    background-color: #45a049;
}

.challenge {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.removeChallenge {
    background-color: #f44336;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

.removeChallenge:hover {
    background-color: #d32f2f;
}




//////////////////////////////
/* Styles for displaying games */
.games-display {
    margin: 20px 0;
}

.games-container { /* Renamed from .horizontal-scroll */
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
    justify-content: flex-start; /* Align items to the start of the container */
    padding: 10px 0;
}

.game {
    flex: 0 0 auto;
    width: 300px; /* Adjust as necessary */
    margin-right: 20px;
    margin-bottom: 20px; /* Add bottom margin for spacing between rows */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    box-sizing: border-box;
    position: relative;
}

.game h3 {
    margin-top: 0;
}

.game ul {
    padding-left: 20px;
}

.game li {
    list-style-type: disc;
}


//Styles for editing games
.edit-icon {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #4CAF50; /* Adjust color as needed */
}

// Styles for deleting games
.delete-icon {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px; /* Adjust as needed, considering the close icon position */
    font-size: 25px;
    color: #f44336; /* Red color for delete icon */
}
